# Dart / Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.melos_*

# Native intermediates
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/macos/Pods/
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/
**/android/.gradle/
**/android/local.properties
**/android/key.properties

# OS
.DS_Store
