/*
 * Madar API
 *
 * Madar POS — multi-tenant cafe and restaurant management. The Rust backend is the source of truth for this spec; the Flutter teller app and React management dashboard consume the generated openapi.json.
 *
 * The version of the OpenAPI document: 0.1.0
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, ContentType, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{de::Error as _, Deserialize, Serialize};

/// struct for passing parameters to the method [`order_now_combine`]
#[derive(Clone, Debug)]
pub struct OrderNowCombineParams {
    /// Member token — this customer survives
    pub token: String,
    pub replace_identity_request: models::ReplaceIdentityRequest,
}

/// struct for passing parameters to the method [`order_now_context`]
#[derive(Clone, Debug)]
pub struct OrderNowContextParams {
    /// Member token (the card's QR)
    pub token: String,
    /// From `/public/otp/verify`, for the customer's current phone. Absent or not valid for that phone → the masked context.
    pub device_token: Option<String>,
}

/// struct for passing parameters to the method [`order_now_replace_identity`]
#[derive(Clone, Debug)]
pub struct OrderNowReplaceIdentityParams {
    /// Member token
    pub token: String,
    pub replace_identity_request: models::ReplaceIdentityRequest,
}

/// struct for typed errors of method [`order_now_combine`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum OrderNowCombineError {
    Status400(models::ErrorBody),
    Status401(models::ErrorBody),
    Status403(models::ErrorBody),
    Status404(models::ErrorBody),
    Status409(models::ErrorBody),
    Status500(models::ErrorBody),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`order_now_context`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum OrderNowContextError {
    Status400(models::ErrorBody),
    Status401(models::ErrorBody),
    Status403(models::ErrorBody),
    Status404(models::ErrorBody),
    Status409(models::ErrorBody),
    Status500(models::ErrorBody),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`order_now_replace_identity`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum OrderNowReplaceIdentityError {
    Status400(models::ErrorBody),
    Status401(models::ErrorBody),
    Status403(models::ErrorBody),
    Status404(models::ErrorBody),
    Status409(models::ErrorBody),
    Status429(),
    Status500(models::ErrorBody),
    UnknownValue(serde_json::Value),
}

pub async fn order_now_combine(
    configuration: &configuration::Configuration,
    params: OrderNowCombineParams,
) -> Result<models::ReplaceIdentityResponse, Error<OrderNowCombineError>> {
    let uri_str = format!(
        "{}/public/order-now/{token}/combine",
        configuration.base_path,
        token = crate::apis::urlencode(params.token)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    req_builder = req_builder.json(&params.replace_identity_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::ReplaceIdentityResponse`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::ReplaceIdentityResponse`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<OrderNowCombineError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

pub async fn order_now_context(
    configuration: &configuration::Configuration,
    params: OrderNowContextParams,
) -> Result<models::OrderNowContext, Error<OrderNowContextError>> {
    let uri_str = format!(
        "{}/public/order-now/{token}",
        configuration.base_path,
        token = crate::apis::urlencode(params.token)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = params.device_token {
        req_builder = req_builder.query(&[("device_token", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::OrderNowContext`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::OrderNowContext`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<OrderNowContextError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

pub async fn order_now_replace_identity(
    configuration: &configuration::Configuration,
    params: OrderNowReplaceIdentityParams,
) -> Result<models::ReplaceIdentityResponse, Error<OrderNowReplaceIdentityError>> {
    let uri_str = format!(
        "{}/public/order-now/{token}/replace-identity",
        configuration.base_path,
        token = crate::apis::urlencode(params.token)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    req_builder = req_builder.json(&params.replace_identity_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::ReplaceIdentityResponse`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::ReplaceIdentityResponse`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<OrderNowReplaceIdentityError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}
